**/.vscode
**/__pycache__
**/taxodist_env
**/build
*.xlsx
!sim_matrix_L_NA_BIP.xlsx
!icd-codes_examples.xlsx
!ICD10_xml.xlsx
*.code-workspace
performance_evaluation.py
run_performance_tests.py
testree.txt
pyproject.toml
dist/taxodist-0.0.0.tar.gz
taxodist.egg-info/dependency_links.txt
taxodist.egg-info/PKG-INFO
taxodist.egg-info/SOURCES.txt
taxodist.egg-info/requires.txt
taxodist.egg-info/top_level.txt
